[submodule "kubernetes/overlays/dev/zalando-operator/deps/postgres-operator"]
	path = kubernetes/overlays/dev/zalando-operator/deps/postgres-operator
	url = https://github.com/zalando/postgres-operator.git
